@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #000000; /* Dark background */
  color: #fff; /* Ensure text is light-colored */
  min-height: 100%;
}
